.bgimage {
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; 
  background-image: url("../../assets/backpic.jpg");
  background-size: cover;
}

h1 {
  font-style: italic;
  color:white;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  position: relative;
  top: 50%;
}
.landbut {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50%;
  gap: 20px;
  size: 200px;
  font-size: 150px;
}
