.bloodicon{
    color: red;
    height: 75px;
    width: 75px;
    display: flex;
    gap: 20px;

}
.nav-allign{
    display: flex;
    gap: 20px;
    font-size: x-large;
}
a{
    font-size: x-large;
}